body{
    text-align: center;
    display: grid;
    grid-template-areas: 
    '. player bot .'
    '. result result .'
    '. divButtonPlayAgain divButtonPlayAgain .'
    '. displayCurrentStrike displayCurrentStrike .'
    '. displayBestStrike displayBestStrike .';
    font-size: 2em;
}

#player{
    grid-area: player;
    border: 1px solid black;
}

#bot{
    grid-area: bot;
    border: 1px solid black;
}

#result{
    grid-area: result;
}

#divButtonReset{
    grid-area:  divButtonPlayAgain;
}

#displayCurrentStrike{
    grid-area: displayCurrentStrike;
}

#displayBestStrike{
    grid-area: displayBestStrike;
}