body{
    text-align: center;
    display: grid;
    grid-template-areas: 
    '. player bot .'
    '. result result .'
    '. divButtonPlayAgain divButtonPlayAgain .';
    font-size: 2em;
    background-color: rgb(51, 51, 51);
}

#player{
    grid-area: player;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(124, 124, 124);
}

#bot{
    grid-area: bot;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(124, 124, 124);
}

#result{
    grid-area: result;
    color: white;
}

#divButtonReset{
    grid-area:  divButtonPlayAgain;
}

button{
    border-radius: 40%;
}