body{
    text-align: center;
    display: grid;
    grid-template-areas: 
    '. player bot .'
    '. result result .'
    '. divButtonPlayAgain divButtonPlayAgain .'
    '. containerStats containerStats .';
    font-size: 2em;
    background-color: black;
    color: white;
}

#player{
    grid-area: player;
    border: 1px solid white;
}

#bot{
    grid-area: bot;
    border: 1px solid white;
}

#result{
    grid-area: result;
}

#divButtonReset{
    grid-area:  divButtonPlayAgain;
}

.containerStats{
    grid-area: containerStats;
    visibility: hidden;
}